USE [eChallan]
GO
/****** Object:  StoredProcedure [ERP].[uspLogError]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE     [ERP].[uspLogError]
@ErrorCode INT, @ErrorNumber INT, @ErrorDescription NVARCHAR (4000), @ErrorTime DATETIME, @ProcedureName VARCHAR (50), @ErrorSeverity INT=0, @ErrorState INT=0, @ErrorLine INT=0
AS
BEGIN
	
	INSERT INTO [ERP].[ErrorLog]
           ([ErrorTime]
           ,[UserName]
           ,[ErrorNumber]
           ,[ErrorSeverity]
           ,[ErrorState]
           ,[ErrorProcedure]
           ,[ErrorLine]
           ,[ErrorMessage])
     VALUES
           (@ErrorTime
           ,'From Database'
           ,@ErrorNumber
           ,@ErrorSeverity
           ,@ErrorState
           ,@ProcedureName
           ,@ErrorLine
           ,@ErrorDescription)
           
END
GO
/****** Object:  StoredProcedure [SMS].[USP_ValueTypeMaster_SearchByID]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===================================================================
-- Author:		Rajnish Kr Tyagi
-- Create date: February 26,2015
-- Procedure to Display Master Data Information By Master Value ID
-- ===================================================================
CREATE PROCEDURE [SMS].[USP_ValueTypeMaster_SearchByID] 
	@ValueTypeId INT
AS
BEGIN
	BEGIN TRY         
		SELECT ValueTypeId [ID],[Code],[Name],[ValueTypeGroupId],[OffenceSection],[OffenceAmount] FROM [SMS].[TBL_ValueType]
		WHERE ValueTypeId = @ValueTypeId
	END TRY
	BEGIN CATCH              
		DECLARE @ErrorMessage NVARCHAR(4000)              
		DECLARE @ProcedureName VARCHAR(50)              
		DECLARE @ErrorCode INT              
		DECLARE @ErrorNumber INT              
		DECLARE @ErrorTime DATETIME            
		DECLARE @ErrorSeverity INT            
		DECLARE @ErrorState INT          
		DECLARE @ErrorLine INT            

		SELECT              
			@ErrorCode = @@ERROR,              
			@ErrorNumber = ERROR_NUMBER(),              
			@ErrorMessage = Error_Message(),              
			@ErrorTime = GETDATE(),              
			@ProcedureName = OBJECT_NAME(@@PROCID),            
			@ErrorSeverity = ERROR_SEVERITY(),            
			@ErrorState = ERROR_STATE(),          
			@ErrorLine = ERROR_LINE()            

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)           

		EXEC ERP.uspLogError               
			@ErrorCode = @ErrorCode,               
			@ErrorNumber = @ErrorNumber,               
			@ErrorDescription = @ErrorMessage,               
			@ErrorTime = @ErrorTime,               
			@ProcedureName = @ProcedureName,          
			@ErrorSeverity = @ErrorSeverity,            
			@ErrorState = @ErrorState,            
			@ErrorLine = @ErrorLine            
	END CATCH              
END
GO
/****** Object:  StoredProcedure [ERP].[USP_ValueTypeMaster_SearchByID]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===================================================================
-- Author:		Rajnish Kr Tyagi
-- Create date: February 26,2015
-- Procedure to Display Master Data Information By Master Value ID
-- ===================================================================
CREATE PROCEDURE [ERP].[USP_ValueTypeMaster_SearchByID] 
	@ValueTypeId INT
AS
BEGIN
	BEGIN TRY         
		SELECT ValueTypeId [ID],[Code],[Name],ValueTypeGroupId,isSchemeType FROM [ERP].[TBL_ValueType]
		WHERE ValueTypeId = @ValueTypeId
	END TRY
	BEGIN CATCH              
		DECLARE @ErrorMessage NVARCHAR(4000)              
		DECLARE @ProcedureName VARCHAR(50)              
		DECLARE @ErrorCode INT              
		DECLARE @ErrorNumber INT              
		DECLARE @ErrorTime DATETIME            
		DECLARE @ErrorSeverity INT            
		DECLARE @ErrorState INT          
		DECLARE @ErrorLine INT            

		SELECT              
			@ErrorCode = @@ERROR,              
			@ErrorNumber = ERROR_NUMBER(),              
			@ErrorMessage = Error_Message(),              
			@ErrorTime = GETDATE(),              
			@ProcedureName = OBJECT_NAME(@@PROCID),            
			@ErrorSeverity = ERROR_SEVERITY(),            
			@ErrorState = ERROR_STATE(),          
			@ErrorLine = ERROR_LINE()            

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)           

		EXEC ERP.uspLogError               
			@ErrorCode = @ErrorCode,               
			@ErrorNumber = @ErrorNumber,               
			@ErrorDescription = @ErrorMessage,               
			@ErrorTime = @ErrorTime,               
			@ProcedureName = @ProcedureName,          
			@ErrorSeverity = @ErrorSeverity,            
			@ErrorState = @ErrorState,            
			@ErrorLine = @ErrorLine            
	END CATCH              
END
GO
/****** Object:  StoredProcedure [SMS].[USP_ValueType_EDIT]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: Frbruary 26, 2015
-- Description:	Store Procedure to Add Document Type
-- =============================================
CREATE PROCEDURE [SMS].[USP_ValueType_EDIT] 
	@ValueTypeId  INT, 
	@ValueTypeGroupId INT,
	@Code VARCHAR(100),
	@Name VARCHAR(100),
	@OffenceSection VARCHAR(100),
    @OffenceAmount INT,
	@ModifiedBy INT
AS
BEGIN
	BEGIN TRY    
		UPDATE 
		[SMS].TBL_ValueType
		SET 
			ValueTypeGroupId=@ValueTypeGroupId,
			Code=@Code,
			Name=@Name,
			OffenceSection=@OffenceSection,
            OffenceAmount=@OffenceAmount,
			ModifiedBy=@ModifiedBy,
			ModifiedDate = GETDATE()
		WHERE ValueTypeId=@ValueTypeId
		
	END TRY
	BEGIN CATCH              
		DECLARE @ErrorMessage NVARCHAR(4000)              
		DECLARE @ProcedureName VARCHAR(50)              
		DECLARE @ErrorCode INT              
		DECLARE @ErrorNumber INT              
		DECLARE @ErrorTime DATETIME            
		DECLARE @ErrorSeverity INT            
		DECLARE @ErrorState INT          
		DECLARE @ErrorLine INT            

		SELECT              
			@ErrorCode = @@ERROR,              
			@ErrorNumber = ERROR_NUMBER(),              
			@ErrorMessage = Error_Message(),              
			@ErrorTime = GETDATE(),              
			@ProcedureName = OBJECT_NAME(@@PROCID),            
			@ErrorSeverity = ERROR_SEVERITY(),            
			@ErrorState = ERROR_STATE(),          
			@ErrorLine = ERROR_LINE()            

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)           

		EXEC ERP.uspLogError               
			@ErrorCode = @ErrorCode,               
			@ErrorNumber = @ErrorNumber,               
			@ErrorDescription = @ErrorMessage,               
			@ErrorTime = @ErrorTime,               
			@ProcedureName = @ProcedureName,          
			@ErrorSeverity = @ErrorSeverity,            
			@ErrorState = @ErrorState,            
			@ErrorLine = @ErrorLine            
	END CATCH              
END
GO
/****** Object:  StoredProcedure [ERP].[USP_ValueType_EDIT]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: Frbruary 26, 2015
-- Description:	Store Procedure to Add Document Type
-- =============================================
CREATE PROCEDURE [ERP].[USP_ValueType_EDIT] 
	@ValueTypeId  INT, 
	@ValueTypeGroupId INT,
	@Code VARCHAR(100),
	@Name VARCHAR(100),
	
	@ModifiedBy INT
AS
BEGIN
	BEGIN TRY    
		UPDATE 
		[ERP].TBL_ValueType
		SET 
			ValueTypeGroupId=@ValueTypeGroupId,
			Code=@Code,
			Name=@Name,
			
			ModifiedBy=@ModifiedBy,
			ModifiedDate = GETDATE()
		WHERE ValueTypeId=@ValueTypeId
		
	END TRY
	BEGIN CATCH              
		DECLARE @ErrorMessage NVARCHAR(4000)              
		DECLARE @ProcedureName VARCHAR(50)              
		DECLARE @ErrorCode INT              
		DECLARE @ErrorNumber INT              
		DECLARE @ErrorTime DATETIME            
		DECLARE @ErrorSeverity INT            
		DECLARE @ErrorState INT          
		DECLARE @ErrorLine INT            

		SELECT              
			@ErrorCode = @@ERROR,              
			@ErrorNumber = ERROR_NUMBER(),              
			@ErrorMessage = Error_Message(),              
			@ErrorTime = GETDATE(),              
			@ProcedureName = OBJECT_NAME(@@PROCID),            
			@ErrorSeverity = ERROR_SEVERITY(),            
			@ErrorState = ERROR_STATE(),          
			@ErrorLine = ERROR_LINE()            

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)           

		EXEC ERP.uspLogError               
			@ErrorCode = @ErrorCode,               
			@ErrorNumber = @ErrorNumber,               
			@ErrorDescription = @ErrorMessage,               
			@ErrorTime = @ErrorTime,               
			@ProcedureName = @ProcedureName,          
			@ErrorSeverity = @ErrorSeverity,            
			@ErrorState = @ErrorState,            
			@ErrorLine = @ErrorLine            
	END CATCH              
END
GO
/****** Object:  StoredProcedure [SMS].[USP_ValueType_ADD]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: Frbruary 26, 2015
-- Description:	Store Procedure to Add Document Type
-- =============================================
CREATE PROCEDURE [SMS].[USP_ValueType_ADD] 
	@ValueTypeGroupId INT,
	@Code VARCHAR(100),
	@Name VARCHAR(100),
	@OffenceSection VARCHAR(100),
    @OffenceAmount INT,
	@CreatedBy INT,
	@ValueTypeId  INT OUTPUT
AS
BEGIN
    DECLARE @DisplayOrder INT
	IF EXISTS (SELECT 1 FROM [SMS].TBL_ValueType WHERE Name=@Name AND ValueTypeGroupId=@ValueTypeGroupId )  
	BEGIN  
      SELECT @ValueTypeId = 0
      RETURN 
    END 
	BEGIN TRY    
	
		SELECT 	@ValueTypeId = ISNULL(MAX(ValueTypeId),@ValueTypeGroupId*100) +1 FROM [SMS].TBL_ValueType WHERE ValueTypeGroupId=@ValueTypeGroupId 
		SELECT @DisplayOrder = ISNULL(MAX(DisplayOrder),0) + 1 FROM [SMS].TBL_ValueType WHERE ValueTypeGroupId=@ValueTypeGroupId 
			
		INSERT INTO [SMS].TBL_ValueType
		(ValueTypeId,ValueTypeGroupId,Code,Name,DisplayOrder,OffenceSection,OffenceAmount,CreatedBy,CreatedDate,IsActive)
		VALUES
		(@ValueTypeId,@ValueTypeGroupId,@Code,@Name,@DisplayOrder,@OffenceSection,@OffenceAmount,@CreatedBy, GETDATE(), 1)

	END TRY
	BEGIN CATCH              
		DECLARE @ErrorMessage NVARCHAR(4000)              
		DECLARE @ProcedureName VARCHAR(50)              
		DECLARE @ErrorCode INT              
		DECLARE @ErrorNumber INT              
		DECLARE @ErrorTime DATETIME            
		DECLARE @ErrorSeverity INT            
		DECLARE @ErrorState INT          
		DECLARE @ErrorLine INT            

		SELECT              
			@ErrorCode = @@ERROR,              
			@ErrorNumber = ERROR_NUMBER(),              
			@ErrorMessage = Error_Message(),              
			@ErrorTime = GETDATE(),              
			@ProcedureName = OBJECT_NAME(@@PROCID),            
			@ErrorSeverity = ERROR_SEVERITY(),            
			@ErrorState = ERROR_STATE(),          
			@ErrorLine = ERROR_LINE()            

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)           

		EXEC ERP.uspLogError               
			@ErrorCode = @ErrorCode,               
			@ErrorNumber = @ErrorNumber,               
			@ErrorDescription = @ErrorMessage,               
			@ErrorTime = @ErrorTime,               
			@ProcedureName = @ProcedureName,          
			@ErrorSeverity = @ErrorSeverity,            
			@ErrorState = @ErrorState,            
			@ErrorLine = @ErrorLine            
	END CATCH              
END
GO
/****** Object:  StoredProcedure [ERP].[USP_ValueType_ADD]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: Frbruary 26, 2015
-- Description:	Store Procedure to Add Document Type
-- =============================================
CREATE PROCEDURE  [ERP].[USP_ValueType_ADD] 
	@ValueTypeGroupId INT,
	@Code VARCHAR(100),
	@Name VARCHAR(100),
	
	@CreatedBy INT,
	@ValueTypeId  INT OUTPUT
AS
BEGIN
    DECLARE @DisplayOrder INT
	IF EXISTS (SELECT 1 FROM [ERP].TBL_ValueType WHERE Name=@Name AND ValueTypeGroupId=@ValueTypeGroupId )  
	BEGIN  
      SELECT @ValueTypeId = 0
      RETURN 
    END 
	BEGIN TRY    
	
		SELECT 	@ValueTypeId = ISNULL(MAX(ValueTypeId),@ValueTypeGroupId*100) +1 FROM [ERP].TBL_ValueType WHERE ValueTypeGroupId=@ValueTypeGroupId 
		SELECT @DisplayOrder = ISNULL(MAX(DisplayOrder),0) + 1 FROM [ERP].TBL_ValueType WHERE ValueTypeGroupId=@ValueTypeGroupId 
			
		INSERT INTO [ERP].TBL_ValueType
		(ValueTypeId,ValueTypeGroupId,Code,Name,DisplayOrder,CreatedBy,CreatedDate,IsActive)
		VALUES
		(@ValueTypeId,@ValueTypeGroupId,@Code,@Name,@DisplayOrder,@CreatedBy, GETDATE(), 1)

	END TRY
	BEGIN CATCH              
		DECLARE @ErrorMessage NVARCHAR(4000)              
		DECLARE @ProcedureName VARCHAR(50)              
		DECLARE @ErrorCode INT              
		DECLARE @ErrorNumber INT              
		DECLARE @ErrorTime DATETIME            
		DECLARE @ErrorSeverity INT            
		DECLARE @ErrorState INT          
		DECLARE @ErrorLine INT            

		SELECT              
			@ErrorCode = @@ERROR,              
			@ErrorNumber = ERROR_NUMBER(),              
			@ErrorMessage = Error_Message(),              
			@ErrorTime = GETDATE(),              
			@ProcedureName = OBJECT_NAME(@@PROCID),            
			@ErrorSeverity = ERROR_SEVERITY(),            
			@ErrorState = ERROR_STATE(),          
			@ErrorLine = ERROR_LINE()            

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)           

		EXEC ERP.uspLogError               
			@ErrorCode = @ErrorCode,               
			@ErrorNumber = @ErrorNumber,               
			@ErrorDescription = @ErrorMessage,               
			@ErrorTime = @ErrorTime,               
			@ProcedureName = @ProcedureName,          
			@ErrorSeverity = @ErrorSeverity,            
			@ErrorState = @ErrorState,            
			@ErrorLine = @ErrorLine            
	END CATCH              
END
GO
/****** Object:  StoredProcedure [ERP].[USP_OffenceDetails_SearchAll]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ======================================================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: July 04, 2020
-- Description:	Stored Procedure to Display Offence Details
-- =====================================================================
CREATE PROCEDURE [ERP].[USP_OffenceDetails_SearchAll] 
	@MasterGroupID INT
AS
BEGIN
	SELECT [ValueTypeId] ID
		,[Name] Offence
		,[OffenceSection] Section
		,[OffenceAmount] Amount
	FROM [eChallan].[SMS].[TBL_ValueType]
	WHERE ValueTypeGroupId = @MasterGroupID
	  
  END
GO
/****** Object:  StoredProcedure [ERP].[USP_GetMaxRefenceNo]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: June 15, 2020
-- Description:	Stored Procedure to Get Max Reference Number
-- =============================================================
CREATE PROCEDURE [ERP].[USP_GetMaxRefenceNo] 
	@ReferenceNo INT OUTPUT
AS
BEGIN
	SELECT @ReferenceNo = ISNULL(MAX(ReferenceNo),0) + 1 FROM [eChallan].[ERP].[TBL_Challan100]
	SELECT @ReferenceNo
END
GO
/****** Object:  StoredProcedure [ERP].[USP_ChallanOffenceInformation_ADD]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: Frbruary 26, 2015
-- Description:	Store Procedure to Add Document Type
-- =============================================
CREATE PROCEDURE [ERP].[USP_ChallanOffenceInformation_ADD] 
	
	@FK_Challan100 INT,
	@FK_OffenceID INT,
	@Amount FLOAT,

	@Challan101ID INT OUTPUT
AS
BEGIN
  
	
	BEGIN TRY    
	
		SELECT 	@Challan101ID = ISNULL(MAX(ID),0) +1 FROM [ERP].[TBL_Challan101] 
		
			
		INSERT INTO [ERP].[TBL_Challan101]
		([ID],[FK_Challan100],[FK_OffenceID],[Amount])
		VALUES
		(@Challan101ID,@FK_Challan100,@FK_OffenceID,@Amount)

	END TRY
	BEGIN CATCH              
		DECLARE @ErrorMessage NVARCHAR(4000)              
		DECLARE @ProcedureName VARCHAR(50)              
		DECLARE @ErrorCode INT              
		DECLARE @ErrorNumber INT              
		DECLARE @ErrorTime DATETIME            
		DECLARE @ErrorSeverity INT            
		DECLARE @ErrorState INT          
		DECLARE @ErrorLine INT            

		SELECT              
			@ErrorCode = @@ERROR,              
			@ErrorNumber = ERROR_NUMBER(),              
			@ErrorMessage = Error_Message(),              
			@ErrorTime = GETDATE(),              
			@ProcedureName = OBJECT_NAME(@@PROCID),            
			@ErrorSeverity = ERROR_SEVERITY(),            
			@ErrorState = ERROR_STATE(),          
			@ErrorLine = ERROR_LINE()            

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)           

		EXEC ERP.uspLogError               
			@ErrorCode = @ErrorCode,               
			@ErrorNumber = @ErrorNumber,               
			@ErrorDescription = @ErrorMessage,               
			@ErrorTime = @ErrorTime,               
			@ProcedureName = @ProcedureName,          
			@ErrorSeverity = @ErrorSeverity,            
			@ErrorState = @ErrorState,            
			@ErrorLine = @ErrorLine            
	END CATCH              
END
GO
/****** Object:  StoredProcedure [ERP].[USP_ChallanInformation_SearchAll]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: July 04 2020
-- Description:	Stored Procedure to display Challan information
-- =============================================
CREATE PROCEDURE [ERP].[USP_ChallanInformation_SearchAll]
	@FK_ApprStatus INT
AS
BEGIN
	IF @FK_ApprStatus = 0
		BEGIN
			SELECT  [ID]
			,[ReferenceNo] [ChlNo],[ChallanDate] [Date]
			,[VehRegNo],VehicleType.Name VehicleType,[VehModel],[VehYearOfPurchase]
			,Challan100.[Name],[FatherName],[Address],[MobileNo]
			,[OffAmount],[OffDate],[OffTIme],PoliceThana.Name PoliceThana,CameraInfo.Name Camera,[DocumentPath]
			,[FK_ApprStatus]
			,[IsChallanPaid],[ReceiptBookNo],[ReceiptNumber]
			,Challan100.[CreatedBy],Challan100.[CreatedDate],Challan100.[ModifiedBy],Challan100.[ModifiedDate]
			FROM [eChallan].[ERP].[TBL_Challan100] Challan100
			INNER JOIN SMS.TBL_ValueType VehicleType ON  VehicleType.ValueTypeID = Challan100.[FK_VehTypeID]	 
			 
			INNER JOIN SMS.TBL_ValueType PoliceThana ON  PoliceThana.ValueTypeID = Challan100.[FK_PoliceThanaID]	 
			INNER JOIN SMS.TBL_ValueType CameraInfo ON  CameraInfo.ValueTypeID = Challan100.[FK_CameraID]	 
			Order By ReferenceNo DESC
		END
	ELSE
		BEGIN
			SELECT  [ID]
			,[ReferenceNo] [ChlNo],[ChallanDate] [Date]
			,[VehRegNo],VehicleType.Name VehicleType,[VehModel],[VehYearOfPurchase]
			,Challan100.[Name],[FatherName],[Address],[MobileNo]
			,[OffAmount],[OffDate],[OffTIme],PoliceThana.Name PoliceThana,CameraInfo.Name Camera,[DocumentPath]
			,[FK_ApprStatus]
			,[IsChallanPaid],[ReceiptBookNo],[ReceiptNumber]
			,Challan100.[CreatedBy],Challan100.[CreatedDate],Challan100.[ModifiedBy],Challan100.[ModifiedDate]
			FROM [eChallan].[ERP].[TBL_Challan100] Challan100
			INNER JOIN SMS.TBL_ValueType VehicleType ON  VehicleType.ValueTypeID = Challan100.[FK_VehTypeID]	 
			
			INNER JOIN SMS.TBL_ValueType PoliceThana ON  PoliceThana.ValueTypeID = Challan100.[FK_PoliceThanaID]	 
			INNER JOIN SMS.TBL_ValueType CameraInfo ON  CameraInfo.ValueTypeID = Challan100.[FK_CameraID]	 
			WHERE [FK_ApprStatus] = @FK_ApprStatus
			Order By ReferenceNo DESC
		END
END
GO
/****** Object:  StoredProcedure [ERP].[USP_ChallanInformation_Paid_SearchAll]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ======================================================================================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: July 04 2020
-- Description:	Stored Procedure to display Approved Challan Pending for Payment information
-- ======================================================================================================
CREATE PROCEDURE [ERP].[USP_ChallanInformation_Paid_SearchAll]
	@FK_ApprStatus INT
AS
BEGIN
	
			SELECT  [ID]
			,[ReferenceNo] [ChlNo],[ChallanDate] [Date]
			,[VehRegNo],VehicleType.Name VehicleType,[VehModel],[VehYearOfPurchase]
			,Challan100.[Name],[FatherName],[Address],[MobileNo]
			,[OffAmount],[OffDate],[OffTIme],PoliceThana.Name PoliceThana,CameraInfo.Name Camera,[DocumentPath]
			,[FK_ApprStatus]
			,[IsChallanPaid],[ReceiptBookNo],[ReceiptNumber]
			,Challan100.[CreatedBy],Challan100.[CreatedDate],Challan100.[ModifiedBy],Challan100.[ModifiedDate]
			FROM [eChallan].[ERP].[TBL_Challan100] Challan100
			INNER JOIN SMS.TBL_ValueType VehicleType ON  VehicleType.ValueTypeID = Challan100.[FK_VehTypeID]	 
			INNER JOIN SMS.TBL_ValueType PoliceThana ON  PoliceThana.ValueTypeID = Challan100.[FK_PoliceThanaID]	 
			INNER JOIN SMS.TBL_ValueType CameraInfo ON  CameraInfo.ValueTypeID = Challan100.[FK_CameraID]
			WHERE FK_ApprStatus = 	@FK_ApprStatus AND IsChallanPaid = 1
			Order By ReferenceNo DESC
		
END
GO
/****** Object:  StoredProcedure [ERP].[USP_ChallanInformation_EDIT]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =================================================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: June 09, 2020
-- Description:	Store Procedure to Edit Challan Information
-- =================================================================
CREATE PROCEDURE [ERP].[USP_ChallanInformation_EDIT] 
	@Challan100ID INT,
	@FK_FYN100 INT,
	@ReferenceNo INT,
	@ChallanDate DATETIME,
	@VehRegNo VARCHAR(100),
	@FK_VehTypeID INT,
	@VehModel VARCHAR(100),
	@VehYearOfPurchase VARCHAR(100),
	@Name VARCHAR(100),
	@FatherName VARCHAR(100),
	@Address VARCHAR(3000),
	@MobileNo VARCHAR(20),
	@FK_OffTypeID INT,
	@OffAmount INT,
	@OffDate DATETIME,
	@OffTIme TIME,
	@FK_PoliceThanaID INT,
	@FK_CameraID INT,
	@DocumentPath VARCHAR(4000),
	@FK_ApprStatus INT,
	
	@ModifiedBy INT

AS
BEGIN
	BEGIN TRY    
		UPDATE [ERP].[TBL_Challan100]
		SET 
			FK_FYN100=@FK_FYN100,
			ReferenceNo=@ReferenceNo,
			ChallanDate=@ChallanDate,
			VehRegNo=@VehRegNo,
			FK_VehTypeID=@FK_VehTypeID,
			VehModel=@VehModel,
			VehYearOfPurchase=@VehYearOfPurchase,
			Name=@Name,
			FatherName=@FatherName,
			[Address]=@Address,
			MobileNo=@MobileNo,
			FK_OffTypeID=@FK_OffTypeID,
			OffAmount=@OffAmount,
			OffDate=@OffDate,
			OffTIme=@OffTIme,
			FK_PoliceThanaID=@FK_PoliceThanaID,
			FK_CameraID=@FK_CameraID,
			DocumentPath=@DocumentPath,
			FK_ApprStatus=@FK_ApprStatus,
			ModifiedBy=@ModifiedBy,
			ModifiedDate = GETDATE()
		WHERE ID=@Challan100ID
		
	END TRY
	BEGIN CATCH              
		DECLARE @ErrorMessage NVARCHAR(4000)              
		DECLARE @ProcedureName VARCHAR(50)              
		DECLARE @ErrorCode INT              
		DECLARE @ErrorNumber INT              
		DECLARE @ErrorTime DATETIME            
		DECLARE @ErrorSeverity INT            
		DECLARE @ErrorState INT          
		DECLARE @ErrorLine INT            

		SELECT              
			@ErrorCode = @@ERROR,              
			@ErrorNumber = ERROR_NUMBER(),              
			@ErrorMessage = Error_Message(),              
			@ErrorTime = GETDATE(),              
			@ProcedureName = OBJECT_NAME(@@PROCID),            
			@ErrorSeverity = ERROR_SEVERITY(),            
			@ErrorState = ERROR_STATE(),          
			@ErrorLine = ERROR_LINE()            

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)           

		EXEC ERP.uspLogError               
			@ErrorCode = @ErrorCode,               
			@ErrorNumber = @ErrorNumber,               
			@ErrorDescription = @ErrorMessage,               
			@ErrorTime = @ErrorTime,               
			@ProcedureName = @ProcedureName,          
			@ErrorSeverity = @ErrorSeverity,            
			@ErrorState = @ErrorState,            
			@ErrorLine = @ErrorLine            
	END CATCH              
END
GO
/****** Object:  StoredProcedure [ERP].[USP_ChallanInformation_ByChallanID]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [ERP].[USP_ChallanInformation_ByChallanID]
	@ChallanID INT
AS
BEGIN
	/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ID]
      ,[FK_FYN100]
      ,[ReferenceNo]
      ,[ChallanDate]
      ,[VehRegNo]
      ,[FK_VehTypeID]
      ,[VehModel]
      ,[VehYearOfPurchase]
      ,[Name]
      ,[FatherName]
      ,[Address]
      ,[MobileNo]
      ,[FK_OffTypeID]
      ,[OffAmount]
      ,[OffDate]
      ,[OffTIme]
      ,[FK_PoliceThanaID]
      ,[FK_CameraID]
      ,[DocumentPath]
      ,[FK_ApprStatus]
      ,[IsChallanPaid]
      ,[ReceiptBookNo]
      ,[ReceiptNumber]
      ,[CreatedBy]
      ,[CreatedDate]
      ,[ModifiedBy]
      ,[ModifiedDate]
  FROM [eChallan].[ERP].[TBL_Challan100]
  WHERE ID =  @ChallanID

END
GO
/****** Object:  StoredProcedure [ERP].[USP_ChallanInformation_Approved_Payment_SearchAll]    Script Date: 07/06/2020 10:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ======================================================================================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: July 04 2020
-- Description:	Stored Procedure to display Approved Challan Pending for Payment information
-- ======================================================================================================
CREATE PROCEDURE [ERP].[USP_ChallanInformation_Approved_Payment_SearchAll]
	@FK_ApprStatus INT
AS
BEGIN
	
			SELECT  [ID]
			,[ReferenceNo] [ChlNo],[ChallanDate] [Date]
			,[VehRegNo],VehicleType.Name VehicleType,[VehModel],[VehYearOfPurchase]
			,Challan100.[Name],[FatherName],[Address],[MobileNo]
			,[OffAmount],[OffDate],[OffTIme],PoliceThana.Name PoliceThana,CameraInfo.Name Camera,[DocumentPath]
			,[FK_ApprStatus]
			,[IsChallanPaid],[ReceiptBookNo],[ReceiptNumber]
			,Challan100.[CreatedBy],Challan100.[CreatedDate],Challan100.[ModifiedBy],Challan100.[ModifiedDate]
			FROM [eChallan].[ERP].[TBL_Challan100] Challan100
			INNER JOIN SMS.TBL_ValueType VehicleType ON  VehicleType.ValueTypeID = Challan100.[FK_VehTypeID]	 
			 
			INNER JOIN SMS.TBL_ValueType PoliceThana ON  PoliceThana.ValueTypeID = Challan100.[FK_PoliceThanaID]	 
			INNER JOIN SMS.TBL_ValueType CameraInfo ON  CameraInfo.ValueTypeID = Challan100.[FK_CameraID]
			WHERE FK_ApprStatus = 	@FK_ApprStatus AND IsChallanPaid = 0
			Order By ReferenceNo DESC
		
END
GO
/****** Object:  StoredProcedure [ERP].[USP_ChallanInformation_Approve]    Script Date: 07/06/2020 10:29:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =================================================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: June 09, 2020
-- Description:	Store Procedure to Edit Challan Information
-- =================================================================
CREATE PROCEDURE [ERP].[USP_ChallanInformation_Approve] 
	@Challan100ID INT,
	@FK_ApprStatus INT,
	@ModifiedBy INT

AS
BEGIN
	BEGIN TRY    
		UPDATE [ERP].[TBL_Challan100]
		SET 
			FK_ApprStatus=@FK_ApprStatus,
			ModifiedBy=@ModifiedBy,
			ModifiedDate = GETDATE()
		WHERE ID=@Challan100ID
		
	END TRY
	BEGIN CATCH              
		DECLARE @ErrorMessage NVARCHAR(4000)              
		DECLARE @ProcedureName VARCHAR(50)              
		DECLARE @ErrorCode INT              
		DECLARE @ErrorNumber INT              
		DECLARE @ErrorTime DATETIME            
		DECLARE @ErrorSeverity INT            
		DECLARE @ErrorState INT          
		DECLARE @ErrorLine INT            

		SELECT              
			@ErrorCode = @@ERROR,              
			@ErrorNumber = ERROR_NUMBER(),              
			@ErrorMessage = Error_Message(),              
			@ErrorTime = GETDATE(),              
			@ProcedureName = OBJECT_NAME(@@PROCID),            
			@ErrorSeverity = ERROR_SEVERITY(),            
			@ErrorState = ERROR_STATE(),          
			@ErrorLine = ERROR_LINE()            

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)           

		EXEC ERP.uspLogError               
			@ErrorCode = @ErrorCode,               
			@ErrorNumber = @ErrorNumber,               
			@ErrorDescription = @ErrorMessage,               
			@ErrorTime = @ErrorTime,               
			@ProcedureName = @ProcedureName,          
			@ErrorSeverity = @ErrorSeverity,            
			@ErrorState = @ErrorState,            
			@ErrorLine = @ErrorLine            
	END CATCH              
END
GO
/****** Object:  StoredProcedure [ERP].[USP_ChallanInformation_ADD]    Script Date: 07/06/2020 10:29:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajnish Kumar Tyagi
-- Create date: Frbruary 26, 2015
-- Description:	Store Procedure to Add Document Type
-- =============================================
CREATE PROCEDURE [ERP].[USP_ChallanInformation_ADD] 
	
	@FK_FYN100 INT,
	@ReferenceNo INT,
	@ChallanDate DATETIME,
	@VehRegNo VARCHAR(100),
	@FK_VehTypeID INT,
	@VehModel VARCHAR(100),
	@VehYearOfPurchase VARCHAR(100),
	@Name VARCHAR(100),
	@FatherName VARCHAR(100),
	@Address VARCHAR(3000),
	@MobileNo VARCHAR(20),
	@FK_OffTypeID INT,
	@OffAmount INT,
	@OffDate DATETIME,
	@OffTIme TIME,
	@FK_PoliceThanaID INT,
	@FK_CameraID INT,
	@DocumentPath VARCHAR(4000),
	@FK_ApprStatus INT,
	@CreatedBy INT,
	@Challan100ID INT OUTPUT
AS
BEGIN
  
	IF EXISTS (SELECT 1 FROM [ERP].[TBL_Challan100] WHERE ReferenceNo=@ReferenceNo)  
	BEGIN  
      RAISERROR('Refference Number is already exists.',16,1)
      RETURN 
    END 
	BEGIN TRY    
	
		SELECT 	@Challan100ID = ISNULL(MAX(ID),0) +1 FROM [ERP].[TBL_Challan100] 
		
			
		INSERT INTO [ERP].[TBL_Challan100]
		(ID,FK_FYN100,ReferenceNo,ChallanDate,VehRegNo,FK_VehTypeID,VehModel,VehYearOfPurchase,
		 Name,FatherName,Address,MobileNo,
		 FK_OffTypeID,OffAmount,OffDate,OffTIme,FK_PoliceThanaID,FK_CameraID,DocumentPath,FK_ApprStatus,CreatedBy,CreatedDate
		)
		VALUES
		(@Challan100ID,@FK_FYN100,@ReferenceNo,@ChallanDate,@VehRegNo,@FK_VehTypeID,@VehModel,@VehYearOfPurchase,
		 @Name,@FatherName,@Address,@MobileNo,
		 @FK_OffTypeID,@OffAmount,@OffDate,@OffTIme,@FK_PoliceThanaID,@FK_CameraID,@DocumentPath,@FK_ApprStatus,@CreatedBy, GETDATE())

	END TRY
	BEGIN CATCH              
		DECLARE @ErrorMessage NVARCHAR(4000)              
		DECLARE @ProcedureName VARCHAR(50)              
		DECLARE @ErrorCode INT              
		DECLARE @ErrorNumber INT              
		DECLARE @ErrorTime DATETIME            
		DECLARE @ErrorSeverity INT            
		DECLARE @ErrorState INT          
		DECLARE @ErrorLine INT            

		SELECT              
			@ErrorCode = @@ERROR,              
			@ErrorNumber = ERROR_NUMBER(),              
			@ErrorMessage = Error_Message(),              
			@ErrorTime = GETDATE(),              
			@ProcedureName = OBJECT_NAME(@@PROCID),            
			@ErrorSeverity = ERROR_SEVERITY(),            
			@ErrorState = ERROR_STATE(),          
			@ErrorLine = ERROR_LINE()            

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)           

		EXEC ERP.uspLogError               
			@ErrorCode = @ErrorCode,               
			@ErrorNumber = @ErrorNumber,               
			@ErrorDescription = @ErrorMessage,               
			@ErrorTime = @ErrorTime,               
			@ProcedureName = @ProcedureName,          
			@ErrorSeverity = @ErrorSeverity,            
			@ErrorState = @ErrorState,            
			@ErrorLine = @ErrorLine            
	END CATCH              
END
GO
